{% extends 'base.html' %} {% import 'macros.html' as macro%}
<!-- Content block -->
{%block content%}

<div class="jumbotron text-center" style="background-color: rgb(46, 35, 194); color: #fff; padding: 50px 25px;">
    <h1><i><b></b>MWIKIA BLOG</i></b>
    </h1>
</div>


<div class="container" style="padding-bottom: 30px;">
    <a href="{{url_for('main.new_post')}}" class="btn btn-success">New post</a>
</div>

<div class="container" style="padding-bottom: 20px;">

</div>
<div class="container">
    <h1><i>Newly Created Blogposts</i></h1>

    <hr> {{macro.displayPosts(posts)}} 

</div>
{%endblock%}
